<style>
    .message-content{
        max-width: 600px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 21px;
    }
</style>
<div class="message-content">
    <p>Olá, {{name}}</p>
    <p>Parece que uma troca de senha com sua conta foi solicitada</p>
    <p>Se foi você, então clique nesse link abaixo para escolher uma nova senha:</p>
    <a href="{{link}}">Resetar minha senha</a>
    <p>Se não foi você, então decarte esse e-mail</p>
    <p>Obrigado!<br>Equipe GoBarber</p>
</div>